@using Entities.Model

<RadzenCard class="m-1 p-2">
    <div class="d-flex flex-row">
        <RadzenImage Path="/images/-user-login.png" Class="rounded-circle float-left mr-3" Style="width: 50px; height: 50px;"/>
        <div class="content m-0 p-0">
            <div>
                <p><i><b>@Comment.WrittenBy.FirstName</b></i></p>
                <p>@Comment.Body</p>
            </div>
            <div>
                <span class="oi oi-heart" aria-hidden="true"></span> @((Comment.Votes == null) ? 0 : Comment.Votes)
            </div>
        </div>
    </div>
    </RadzenCard>


@code {
    [Parameter]
    public Comment Comment { get; set; }
    
    
}