.photo-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 20px 0 0;
    height: 500px;
}

.body {
    padding: 0;
    height: 500px;
    margin: 20px;
}

.submit {
    text-align: end;
}
h1 {
    text-align: center;
}

.title {
    padding: 0 20px 0 20px;
}

.input-file{
    height: 500px;
}