@page "/Login"
@inject NavigationManager navMgr

@using BlazorUI.Authentication
@inject IAuthService authService

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12  col-xl-5 main-box text-center">
            <RadzenCard>
                <h2 class="mb-4">Register and password reset</h2>
                <RadzenTemplateForm Data=@("LoginWithRegisterAndReset")>
                    <RadzenLogin Login=@(args => OnLogin(args, "Login with register and password reset"))
                                 ResetPassword=@(args => OnResetPassword(args, "Login with register and password reset"))
                                 Register=@(args => OnRegister("Login with register and password reset"))/>
                </RadzenTemplateForm>
                <p style="color: red">@errorLabel</p>
            </RadzenCard>
        </div>
    </div>
</div>




@code {
    
    string errorLabel;
    
    private async Task OnLogin(LoginArgs args, string name) {
        errorLabel = "";
        try {
            await authService.LoginAsync(args.Username, args.Password);
            navMgr.NavigateTo("/");
        }
        catch (Exception e) {
            errorLabel = e.Message;
        }
    }

    void OnRegister(string name)
    {
        
    navMgr.NavigateTo("/SignUp");
    }

    void OnResetPassword(string value, string name)
    {
    }
}