@using Entities.Model

<div class="container">
    <div class="main-box">
        @if (posts != null) { // change this hack urgent!
            @foreach (var post in posts) {
                <PostCard Post="post"/>
            }
        }
        else {
            <p>Loading...</p>
        }
    </div>
</div>

@code {

    [Parameter]
    public IEnumerable<Post> posts { get; set; } = new List<Post>();

    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
    }

}