@page "/Posts"
@using Application.Contracts
@using Entities.Model
@inject IPostDAO postDao

<div class="container">
    <div class="main-box">
        @foreach (var post in posts) {
            <PostCard Post="post" />
        }
    </div>
</div>

@code {
    public ICollection<Post> posts;
    byte[] documentContent;
    protected override async Task OnInitializedAsync() {
        posts = await postDao.GetAllPostAsync();
        await base.OnInitializedAsync();
    }
}

