@using Entities.Model

<div class="container">
    <div class="main-box">
        @foreach (var post in posts) {
            <PostCard Post="post" />
        }
    </div>
</div>

@code {

    [Parameter]
    public IEnumerable<Post> posts { get; set; }

    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
    }

}