

.body {
    margin: 0;
    padding: 0;
    /*background-color: #0b5ed7;*/
    border-radius: 8px;
}

.photo-area {
    height: auto;
    width: 100%;
    /*border: 1px gainsboro solid;*/
    /*background-color: yellow;*/
    text-align: start;
    /*padding: 10px;*/
    border-radius: 8px;

}

img {
    max-width: 100%;
    /*height: 100%;*/
    border-radius: 8px;
    /*object-fit: cover;*/
}

.comments-full {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-items: flex-start;*/
    /*border: 1px gainsboro solid;*/
    /*background-color: #3b9550;*/
    border-radius: 8px;
    margin: 0; 
    padding: 0 0 10px 0;;
    max-height: 500px;
}

.comments-part {
    height: 80%;
    overflow-y: scroll;

}

