

.body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    border-radius: 8px;
    display: flex;
    
}

.photo-area {
    height: auto;
    width: 100%;
    /*border: 1px gainsboro solid;*/
    /*background-color: yellow;*/
    text-align: start;
    /*padding: 10px;*/
    border-radius: 8px;

}

img {
    max-width: 100%;
    max-height: 40%;
    height: auto;
    border-radius: 8px;
    /*object-fit: cover;*/
}

.last-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-items: flex-start;*/
    /*border: 1px gainsboro solid;*/
    /*background-color: #3b9550;*/
    border-radius: 8px;
    margin: 0; 
    padding: 0 0 10px 0;
    max-height: 700px;
    /*background-color: greenyellow;*/
}

.comments-part {
    overflow-y: scroll;

}

.writing-area {
    display: flex;
    align-items: center;
    /*position: fixed;*/
}

.vote {
    /*background-color: chocolate;*/
    width: 1em;
    text-align: center;
    /*padding-top: 10px;*/
}




