@using BlazorUI.Authentication

@inject NavigationManager navMgr
@inject IAuthService authService

<div class="container one">
    <div class="row">
        <div class="col-3 my-auto d-flex cone">
            <img src="images/reddit-1-logo-png-transparent.png" max-width:10px alt="Image">
        </div>
        <div class="col-5 text-center cone">
            <input class="form-control me-2" type="search" placeholder="Search Reddit2" aria-label="Search">
        </div>
        @* <div class="col 3"></div> *@
        
        <div class="col-4 text-right cone">
            <div class="container">
                <div class="row justify-content-end">
                    <AuthorizeView>
                        <Authorized>
                            <div class="col-4">
                                <button type="button" class="btn btn-outline-primary" @onclick="@LogOut">LogOut</button>
                            </div>
                        </Authorized>
                        <NotAuthorized>
                            <div class="col-4">
                                <button type="button" class="btn btn-outline-primary" @onclick="@LogIn">Log In</button>
                            </div>
                            <div class="col-4">
                                <button type="button" class="btn btn-primary" @onclick="@SignUp">Sign Up</button>
                            </div>
                        </NotAuthorized>
                    </AuthorizeView>
                    <div class="col-4">
                        @* <RadzenCard Style="margin-bottom: 200px; width: fit-content; min-width: 300px;" Class="mt-5 mx-auto text-right"> *@
                        <RadzenProfileMenu >
                            <Template>
                                <Avatar />
                                @* <RadzenGravatar Email="u@eddgample.cbbbom"> *@
                                @* </RadzenGravatar > *@
                            </Template>
                                <ChildContent>
                                    <RadzenProfileMenuItem Text="Buttons" Path="buttons" Icon="account_circle"></RadzenProfileMenuItem>
                                    <RadzenProfileMenuItem Text="Menu" Path="menu" Icon="line_weight"></RadzenProfileMenuItem>
                                    <RadzenProfileMenuItem Text="FileInput" Path="fileinput" Icon="attach_file"></RadzenProfileMenuItem>
                                    <RadzenProfileMenuItem Text="Dialog" Path="dialog" Icon="perm_media"></RadzenProfileMenuItem>
                                    <RadzenProfileMenuItem Text="Notification" Path="notification" Icon="announcement"></RadzenProfileMenuItem>
                                </ChildContent>
                            </RadzenProfileMenu>
                        @* </RadzenCard> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    @code {
        
     List<string> list = new List<string>{ ".NET", "Python","Java" }; 
          private void OnSelected(string selection)
          {
            Console.WriteLine(selection);
          }

        private void LogIn() {
            navMgr.NavigateTo("/LogIn");
        }

        private void SignUp() {
            navMgr.NavigateTo("/SignUp");
        }
        
        private void LogOut() {
            authService.LogoutAsync();
        }
}