img {
    height: complex;
    /*width: 100px;*/
}

.cone {
    height: 30px;
}


.one {
    position: fixed;
    /*background-color: yellow;*/
    width: 100%;
    cursor: pointer;
}

button {
    width: 100px;
}



.drop-menu {
    cursor: pointer;
    background-color: #0dcaf0;
}


 {
    /*background-color: #0dcaf0;*/
}