@using BlazorUI.Authentication
@using Contracts
@using Entities.Model

@inject NavigationManager navMgr
@inject IPostService postService

<div class="container one" >
    <div class="row">
        <div class="col-3 my-auto d-flex cone" onclick="@Home">
            <img src="images/reddit-1-logo-png-transparent.png" max-width:10px alt="Image">
        </div>
        <div class="col-5 text-center cone">
            <RadzenAutoComplete Data=@posts TextProperty="Header" FilterCaseSensitivity=FilterCaseSensitivity.CaseInsensitive placeholder="Search Reddit2" Change=@(args => OnChange(args, "AutoComplete")) Style="width: 100%;"/>
            
            @* <input class="form-control me-2" type="search" placeholder="Search Reddit2" aria-label="Search"> *@
        </div>
        <div class="col-4 text-right cone">
            <div class="container">
                <div class="row justify-content-end">
                    <AuthorizeView>
                        <NotAuthorized>
                            <div class="col-4">
                                <button type="button" class="btn btn-outline-primary" @onclick="@LogIn">Log In</button>
                            </div>
                            <div class="col-4">
                                <button type="button" class="btn btn-primary" @onclick="@SignUp">Sign Up</button>
                            </div>
                        </NotAuthorized>
                    </AuthorizeView>
                    <div class="col-4">
                        <RadzenProfileMenu >
                            <Template>
                                <Avatar />
                            </Template>
                            <ChildContent>
                                <AuthorizeView>
                                    <NotAuthorized>
                                        <RadzenProfileMenuItem Text="home" Path="/" Icon="home"></RadzenProfileMenuItem>
                                        <RadzenProfileMenuItem Text="Users" Path="users" Icon="people"></RadzenProfileMenuItem>
                                    </NotAuthorized>
                                    <Authorized>
                                        <RadzenProfileMenuItem Text="Create Post" Path="CreatePost" Icon="post_add"></RadzenProfileMenuItem>
                                        <RadzenProfileMenuItem Text="Users" Path="users" Icon="people"></RadzenProfileMenuItem> @* delete this *@
                                        <RadzenProfileMenuItem Text="Settings" Path="SignUp" Icon="settings"></RadzenProfileMenuItem>
                                        <RadzenProfileMenuItem Text="LogOut" Path="LogOut" Icon="logout"></RadzenProfileMenuItem>
                                    </Authorized>
                                </AuthorizeView>
                            </ChildContent>
                            </RadzenProfileMenu>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    
    public IEnumerable<Post> posts;
    public string SearchValue { get; set; }
    
    protected override async Task OnInitializedAsync() {
        posts = await postService.GetAllPostAsync();
    }
    
        private void LogIn() {
            navMgr.NavigateTo("/LogIn");
        }

        private void SignUp() {
            navMgr.NavigateTo("/SignUp");
        }
        
        private void Home() {
            navMgr.NavigateTo("/");
        }
    
    void OnChange(object value, string name) {
        navMgr.NavigateTo($"SearchResults/{(string)value}");
    }
    
}